<!DOCTYPE html>
<html>
<head>
  <title>Start Bootstrap Theme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- Bootstrap Core CSS -->
	<link href="../vendor/assets/bootstrap.min.css" rel="stylesheet">

	<!-- Custom Fonts -->

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

	<!-- Theme CSS -->
	<link href="../../assets/agency.min.css" rel="stylesheet">

</head>

<body id="page-top" class="index">
		<%= render '/layouts/navigation_bar'%>
		<%= render '/layouts/header'%>

			<div class="container-fluid">
				<%= yield %>
			</div>
		<%= render '/layouts/footer'%>

    <!-- jQuery -->
	    <script src="../vendor/assets/jquery.min.js"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="../vendor/assets/bootstrap.min.js"></script>

	    <!-- Plugin JavaScript -->
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	    <!-- Contact Form JavaScript -->
	    <script src="../../assets/jqBootstrapValidation.js"></script>
	    <script src="../../assets/contact_me.js"></script>

	    <!-- Theme JavaScript -->
	    <script src="../../assets/agency.min.js"></script>
</body>
</html>
